<h2>Cart (Vue Example)</h2>
<div id="vue-meal-reservation">
    <span>Your seat reservations</span> <span class="red"> {{seats.length}}</span><br />
    <span>Total surcharge</span> <span class="red"> {{totalSurcharge}}</span><br />
    <span>Total discounted</span> <span class="red"> {{totalDiscount}}</span><br />
    <button v-on="click: addSeat">Add seat</button><br />
    <table>
        <thead><tr><th>Passenger name</th><th>Meal</th><th>Surchage</th></tr></thead>
        <tbody>
        <tr v-repeat="seats" class="item">
            <td>
                <input class="name" value="{{name}}"/>
            </td>
            <td>
                <select v-model="selectedMealName" v-on="change: mealSelected">
                    //There's an issue here with chrome, won't correctly select value.
                    <option v-repeat="availableMeals" selected="{{mealName == selectedMealName}}" value="{{mealName}}" class="item">
                        {{mealName}}
                    </option>
                </select>{{selectedMealName}}
            </td>
            <td>
                <span>{{formattedPrice()}}</span>
            </td>
            <td>
                <button v-on="click: removeSeat">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<template id="cartItem">
</template>