body{
    font-family: 'Roboto', sans-serif; 
    -webkit-font-smoothing: antialiased;
    font-size: 16px; 
    color: #838994; 
    letter-spacing: 0.03em;
    background-color: LightGray;
    background-color: white;
}

//div{
//    border: 1px solid Chocolate;
//}

.content {
    padding: 0px 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

/* Navigation Section */
.top-navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    .content{
        width: 100em;
        height: 4.5em;
        margin: 0 auto;
    }
    background-color: #fff;
    
    .logo{
        height: 70px;
    }
    
    .links{
        padding-top: 10px;
        float:right;
        list-style: none;
        
        li{
            font-weight: bold;
            margin: 0px 10px;
            display: inline-block;
            &:hover{
                color: #4c5058;
                cursor: pointer;
            }
        }
        .active {
            font-weight: bolder;
            color: #333333;
        }
    }
}

.introduction { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    background-position: 0 bottom;
    height: 600px;
    
    .content{
        position: relative;
        top: 30%;
        width: 100em;
        height: 4.5em;
        margin: 0 auto;
        text-align: center;
        color: white;
        padding: 15px;
        
        h1{
            font-size: 3.5em;
            margin-bottom: 18px;
            margin-top: 18px;
        }
        
        h3{
            font-size: 1.5em;
            margin-bottom: 18px;
            margin-top: 18px;
        }
        
        .half{
            display: inline-block;
            a{
                text-decoration: none;
                color: white;
            }
            
            
            margin-top: 30px;
            border-style: none;
            border-radius: 4px;
            padding: 16px 26px;
            line-height: 1.33;
            &.learn{
                background-color: #F15A29;
                border-color: #F15A29;
                text-shadow: none;
                
            }
            &.watch{
                img{
                    vertical-align: middle;
                }
            }
        }
    }   
}

.features{
    
    h2{
        color: black;
        font-size: 3em;
    }
    .content{
        position: relative;
        top: 30%;
        width: 100em;
        height: 35em;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
    }
    
    .cases{
        display: flex;
        .devices{
            width: 33.3333333%;
            /* styles to assist with debugging */
            box-sizing: border-box;
            height: 4em;
            
            img{
                height: 10em;
                width: 10em;
            
            }
            
            h3{
                color: black;
                font-size: 2em;
            }
            
            .lead{
                font-size: 1.5em;
            }
        }
    }
}

h1, h2, h3{
 font-weight: 200;
}

button{
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
}

.learn{
    
}

.copyright{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 12em;
}
.icons{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    text-align: center;
    padding-left: 0;
    
    li{
        &.twitter{
            color: #55acee;
        }
        &.facebook{
            color: #4c66a4;
        }
        &.instagram{
            color: #3f729b;
        }
        border-radius: 31px;
        border-color: blue;
        display: inline-block;
        border: black 1px dotted;
        font-size: 2em;
        padding-top: 9px;
        width: 58px;
        height: 46px;
        text-align: center;
    }
}