<h2>Cart (Knockout Example)</h2>
<div id="ko-meal-reservation">
    <span>Your seat reservations</span> <span class="red" data-bind="text: numSeats"></span><br />
    <span>Total surcharge</span> <span class="red"  data-bind="text:totalSurcharge"></span><br />
    <span>Total discounted</span> <span class="red" data-bind="text:totalDiscount"></span><br />
    <button data-bind="click: addSeat">Add seat</button><br />
    <table>
        <thead><tr><th>Passenger name</th><th>Meal</th><th>Surchage</th></tr></thead>
        <tbody data-bind="foreach: seats">
        <tr class="item">
            <td>
                <input class="name"data-bind="value:name"/>
            </td>
            <td>
                <select data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'">
                </select> <span class="red" data-bind="text:selectedMealName"></span>
            </td>
            <td>
                <span data-bind="text: formattedPrice"></span>
            </td>
            <td>
                <button data-bind="click: $root.removeSeat">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<template id="cartItem">
</template>