body {
    background-color: black;
}
.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.hadouken {
    background-image: url("../images/hadouken.gif");
    width: 156px;
    height: 90px;
    display: none;
    position: relative;
    top: 160px;
    left: 500px;
    float: left;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    background-repeat: no-repeat;
}

.how-to{
    font-size: 24px;
    position: absolute;

    top: 160px;
    left: 700px;
}

.how-to p{
    margin-bottom: 40px;
}