body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
}

.masthead {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    background-image: url('http://i.imgur.com/dCgHi.jpg');
    background-size: cover;
    padding: 6em 0;
    color: #FF8C4C;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.content-footer,
.introduction-section,
.location-section,
.more-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
    display: inline-block;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

h2 {
    color: #7F4626;
}

.more-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}


h1 {

    color: #FF8C4C;
}

section > h1 {
    margin-top: 2em;
}


.content-footer {
    /* Red, Green, Blue: #RRGGBB */
    padding: 2em 0;

    color: #FF8C4C;
    background-color: #7F2D00;
}

.content-footer a{
    color: #FF9A4C;
}