<h2>Cart (HTMLjs Example)</h2>
<div id="meal-reservation">
    <span>Your seat reservations</span> <span id="seatNumber" class="red"></span><br />
    <span>Total surcharge</span> <span id="surcharge" class="red"></span><br />
    <span>Total discounted</span> <span id="discount" class="red"></span><br />
    <button id="addSeat" class="btnNormal">Add seat</button><br />
    <table>
        <thead><tr><th>Passenger name</th><th>Meal</th><th>Surchage</th></tr></thead>
        <tbody>
        </tbody>
    </table>
</div>

<template id="cartItem">
    <tr>
        <td>
            <input class="name" />
        </td>
        <td>
            <select class="options">
            </select>
        </td>
        <td>
            <span class="cost">$ 290.00</span>
        </td>
        <td>
            <button class="remove"></button>
        </td>
    </tr>
</template>